<!DOCTYPE html>
<html class='<%= cookies[:theme] %>'>
  <head>
    <title>recipe_repo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='dark:bg-slate-800 bg-white'>
    <main class='container mx-auto mt-3 md:mt-28 px-5 flex font-mono text-slate-900 dark:text-white flex flex-col'>
      <div class='flex flex-row justify-between mb-10'>
        <%= link_to root_path do %>
          recipe_repo
        <% end %>

        <%= render partial: 'dark_mode_toggle' %>
      </div>

      <%= yield %>
    </main>
  </body>
  </div>
</html>
